.wrapper {
  width: 100%;
  max-width: 1192px;
  margin: 0 auto;
  padding: 108px 20px 0 26px;
  display: flex;
  align-items: center;
  gap: 130px;

  &__item {
    text-decoration: none;
    & h1 {
      font-weight: 900;
      font-size: 45px;
      line-height: 54px;
      color: #FFFFFF;
      margin-bottom: 20px;
    }
  }
}