.wrapper {
  background: linear-gradient(115.79deg, #08427B 1.11%, #070E2E 97.4%);

  & h1 {
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
    padding-top: 263px;
    text-align: center;
  }
}