.wrapper {
  &__title{
    margin-top: 200px;
    text-align: center;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
    margin-bottom: 60px;
  }
  &__content{
    background: rgba(99, 96, 96, 0.71);
    border-radius: 25px;
    max-width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
    padding: 79px 117px 112px 117px;
    &_btns{
      &_except {
        padding: 12px !important;
      }
      display: flex;
      row-gap: 12px;
      text-decoration: none;
      column-gap: 92px;
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding-top: 95px;
      & a {
        width: 45%;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
        color: #FFFFFF;
        background: #008AFF;
        border-radius: 5px;
        padding: 30px;
        text-decoration: none;
      }
    }
    &_items {
      max-width: 1340px;
      margin: 0 auto;
    }
  }
}

@media (max-width:1200px) {
  .wrapper {
    width: 90%;
    margin: 0 auto;
    &__content_btns {
      & a {
        width: 90%;
        margin-bottom: 25px;
      }
    }
  }
}

@media (max-width:992px) {
  .wrapper {
    width: 90%;
    margin: 0 auto;
    &__content {
      padding: 79px 50px 112px 50px;
    }
  }
}

@media (max-width:576px) {
  .wrapper {
    &__title {
      font-size: 30px;
      margin: 160px 0 40px 0;
    }
    &__content{
        padding: 50px 20px 50px 20px;
      &_btns {
        padding-top: 40px;
        a {
          font-size: 25px;
          line-height: 25px;
          padding: 20px;
          margin-bottom: 10px;
        }
      }
    }
  }
}