.footer {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1380px;
  padding-bottom: 60px;
  padding-top: 90px;
  &__logo {
    display: flex;
    align-items: center;
    width: 70%;
    & p {
      font-family: 'Impact';
      font-size: 25px;
      line-height: 30px;
      letter-spacing: 0.08em;
      color: #F5F5F5;
      margin-left: -50px;
      display: flex;
      flex-direction: column;
      & span {
        padding-left: 20px;
        font-weight: 400;
        font-size: 15px;
        text-transform: uppercase;
        line-height: 30px;
        letter-spacing: 0.08em;
        color: #F5F5F5;
      }
    }
  }
  &__social {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
    & p {
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: #FFFFFF;
      margin-bottom: -20px;
    }
    & a{
      cursor: pointer;
    }
  }
}

@media (max-width:1200px) {
  .footer__social {
    &_container {
      display: flex;
      align-content: center;
      justify-content: center;
    }
  }
}

@media (max-width: 992px) {
  .footer {
    flex-wrap: wrap;
    justify-content: center;
    &__logo {
      width: 100%;
    }
    &__social {
      width: 100%;
      justify-content: center;
    }
  }
}

@media (max-width:767px) {
  .footer{
    padding-bottom: 5px;
    &__logo {
      & p {
        & span {
          padding-left: 0;
        }
      }
    }
    &__social{
      p {
        margin-bottom: 5px;
      }
    }
  }
}

@media (max-width:576px) {
  .footer {
    &__logo{
      & img {
        width: 50%;
      }
      & p {
        font-size: 20px ;
        padding-left: 10px  ;
        & span {
          font-size: 12px;
          line-height: 22px;
        }
      }
    }
    &__social {
      & p {
        font-size: 18px ;
        margin-bottom: 1px;
      }
      & img {
        width: 100px;
      }
    }
  }
}