@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/impact');

body {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  background: linear-gradient(115.79deg, #08427B 1.11%, #070E2E 97.4%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}